<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- END OF NAVBAR -->

<section class="container">

        <h1 class="my-5">About</h1>
    <!-- Grid column -->
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card card-image">
                <div class="text-black text-center grey lighten-4 py-4 px-8 rounded" style="height:357px">
                    <div>
                        <h3 class="py-4">
                            About Us
                        </h3>
                        <p class="col-lg-6 col-xl-12 px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Repellat fugiat,
                            laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi
                            architecto
                            nulla ipsum dignissimos. Odit sed qui, dolorum! Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grid column -->
        <div class="col-lg-6">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
                    alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid column -->
    <div class="row pt-3">
        <div class="col-md-12 mb-3">
            <div class="card card-image">
                <div class="text-black text-center grey lighten-4 py-5 px-4 rounded">
                    <div>

                        <i class="fas fa-info-circle"></i>
                        <h3 class="py-3">
                            More About Us
                        </h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                            laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi
                            architecto
                            nulla ipsum dignissimos. Odit sed qui, dolorum!
                        </p>
                        <a><small class="text-muted">learn more</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Grid column -->


    <!-- Company Highlights -->
    <section class=" text-center my-5 col-md-12 mb-3">

        <!-- Section heading -->
        <h2 class="h1-responsive my-4">Company Highlights</h2>
        <!-- Section description -->
        <p class="dark-grey-text w-responsive mx-auto mb-5">More stuff to boost SEO</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"
                        alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Post title -->
                <h3 class="h3-responsive mb-3">Title</h3>
                <!-- Excerpt -->
                <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                    quo minus id quod maxime placeat facere possimus voluptas.</p>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                        alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Post title -->
                <h3 class="h3-responsive mb-3">Title</h3>
                <!-- Excerpt -->
                <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    voluptatum deleniti atque corrupti quos dolores.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-0">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg"
                        alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Post title -->
                <h3 class="h3-responsive mb-3">Title</h3>
                <!-- Excerpt -->
                <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed
                    quia consequuntur magni dolores eos qui ratione.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
</section>
<br>
<br>



<!-- CONTACT SECTION -->
<app-contact></app-contact>
<!-- END OF CONTACT SECTION -->


<!-- FOOTER SECTION -->
<app-footer></app-footer>
<!-- END OF FOOTER SECTION -->
