<section class="contact">
    <br>
    <br>
      <div class="row d-flex justify-content-center">
          <h2>Contact</h2>
      </div>
      <br>
      <div class="row d-flex justify-content-center">
          <p>646 Telok Ayer Road, 50, 12323</p>
  
      </div>
      <div class="row d-flex justify-content-center">
          <p>pmo@gmail.com</p>
          
      </div>
      <div class="row d-flex justify-content-center">
          <p>844-1234-44</p>
      </div>
      <br>
      <br>
  </section>

  <router-outlet></router-outlet>