<!-- ADMIN NAVBAR SECTION -->
<app-admin-navbar></app-admin-navbar>
<!-- END OF ADMIN NAVBAR SECTION -->


<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Admin Dashboard

        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Companies</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="p-5">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input type="text" id="1" class="form-control">
                                    <label for="1">Company Name</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" class="form-control">
                                    <label for="inputDisabledEx">Email</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" id="inputDisabledEx" class="form-control">
                                    <label for="inputDisabledEx">Membership No.</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Material input -->
                                <div class="md-form">
                                    <input type="text" id="inputDisabledEx" class="form-control">
                                    <label for="inputDisabledEx">Name</label>
                                </div>
                                <div class="md-form">
                                    <input type="text" id="2" class="form-control">
                                    <label for="2">Login Email (Username)</label>
                                </div>
                                <div class="md-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button mdbBtn class="btn btn-md btn-block btn-light">Clear</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="trigger-alert" mdbBtn class="btn btn-md btn-block btn-info">Create</button>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
                
<div class="card">

        <!--Card image-->
        <div class="view py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      
    
      
          <div>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-sm px-2">
              <i class="fas fa-pencil-alt mt-0"></i>
            </button>
            <button id="delete-user" type="button" class="btn btn-outline-primary btn-rounded btn-sm px-2">
              <i class="far fa-trash-alt mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-sm px-2">
              <i class="fas fa-info-circle mt-0"></i>
            </button>
          </div>
      
        </div>
        <!--/Card image-->
      
        <div class="px-4">
      
          <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0">
      
              <!--Table head-->
              <thead>
                <tr>
                  <th>
                  </th>
                  <th class="th-lg">
                    <a>Company name
                      
                    </a>
                  </th>
                  <th class="th-lg">
                    <a href="">Name
                      
                    </a>
                  </th>
                  <th class="th-lg">
                    <a href="">Email
                      
                    </a>
                  </th>
                  <th class="th-lg">
                    <a href="">Username
                      
                    </a>
                  </th>
                  <th class="th-lg">
                    <a href="">Password
                      
                    </a>
                  </th>
                  <th class="th-lg">
                    <a href="">Membership no.
                      
                    </a>
                  </th>
                </tr>
              </thead>
              <!--Table head-->
      
              <!--Table body-->
              <tbody>
                <tr>
                  <th scope="row">
                    <input class="form-check-input" type="checkbox" id="checkbox1">
                    <label class="form-check-label" for="checkbox1" class="label-table"></label>
                  </th>
                  <td>Mark Pte.Ltd</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>dh3ud2823dsfh32jkjh4</td>
                  <td>3414g</td>
                </tr>
                <tr>
                  <th scope="row">
                    <input class="form-check-input" type="checkbox" id="checkbox2">
                    <label class="form-check-label" for="checkbox2" class="label-table"></label>
                  </th>
                  <td>Mark Pte.Ltd</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>dh3ud2823dsfh32jkjh4</td>
                  <td>3414g</td>
                </tr>
                <tr>
                  <th scope="row">
                    <input class="form-check-input" type="checkbox" id="checkbox3">
                    <label class="form-check-label" for="checkbox3" class="label-table"></label>
                  </th>
                  <td>Mark Pte.Ltd</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>dh3ud2823dsfh32jkjh4</td>
                  <td>3414g</td>
                </tr>
                <tr>
                  <th scope="row">
                    <input class="form-check-input" type="checkbox" id="checkbox4">
                    <label class="form-check-label" for="checkbox4" class="label-table"></label>
                  </th>
                  <td>Mark Pte.Ltd</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>dh3ud2823dsfh32jkjh4</td>
                  <td>3414g</td>
                </tr>
                <tr>
                  <th scope="row">
                    <input class="form-check-input" type="checkbox" id="checkbox5">
                    <label class="form-check-label" for="checkbox5" class="label-table"></label>
                  </th>
                  <td>Mark Pte.Ltd</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>dh3ud2823dsfh32jkjh4</td>
                  <td>3414g</td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
      
        </div>
        <div class="card-footer text-muted">
          Displaying 1-4 of 4 results.
        </div>
      
      </div>
      <!-- Table with panel -->
            </div>

           
        </div>

        <!-- FOOTER SECTION -->
        <app-footer></app-footer>
        <!-- END OF FOOTER SECTION -->



    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->