<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- END OF NAVBAR -->



<br>
<br>
<div class="container">
    <!-- UPCOMING EVENTS SECTION -->

    <h1>Recommended events</h1>
    <br>

    <!-- Card deck -->
    <div class="card-deck my-5">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">


                <!--Title-->
                <h4 class="card-title text-center">Event</h4>
                <!--Text-->
                <p class="card-text text-center">Thu, Jan 9 | Jalan Besar</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <div class="text-center"><a href="/event-showcase"class="btn btn-light-blue btn-md">Learn
                        more</a>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <small>2 days ago</small>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">Event</h4>
                <!--Text-->
                <p class="card-text text-center">Fri, Jan 10 | Jalan Kayu</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <div class="text-center">
                    <a class="btn btn-light-blue btn-md">Learn more</a>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <small>2 days ago</small>
            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">Event</h4>
                <!--Text-->
                <p class="card-text text-center">Sat, Jan 11 | Telok Ayer </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <div class="text-center">
                    <a class="btn btn-light-blue btn-md">Learn more</a>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <small>2 days ago</small>
            </div>

        </div>
        <!-- Card -->

    </div>
    <br>
    <br>
    <!-- Card deck -->






</div>
    <!-- FUTURE EVENTS SECTION -->
    <app-future-events></app-future-events>
    <!-- END OF FUTURE EVENTS SECTION -->

<br>
<br>
<br>
<br>



<!-- CONTACT SECTION -->
<app-contact></app-contact>
<!-- END OF CONTACT SECTION -->



<!-- FOOTER SECTION -->
<app-footer></app-footer>
<!-- END OF FOOTER SECTION -->



<router-outlet></router-outlet>